*{
    display:relative;
}
.list {
    color: white;
    font-size: 18px;

}
.elysium{
    display:inline-block;
    font-family: "Tektur", sans-serif;
}
.purple {
    color: oklch(0.627 0.265 303.9);
    font-size: 48px;
    margin: 0px 0px 32px;
}
.blue {
    color: oklch(0.656 0.241 354.308);
    font-size: 48px;
    margin: 0px 0px 32px;
}
li{
    font-weight:bolder;
    font-family:"Tektur";
}
p{
    color: oklch(0.707 0.022 261.325);
}
body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #000000 0%, #2c004e 50%, #000000 100%);
    color: #d3d3d3;

    font-family: 'Segoe UI', sans-serif;
  }
  .navbar{
    border-left: 2px solid oklch(0.714 0.203 305.504); 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;
    height:600px;
    width: 150px;
    position: fixed;
    top:10px;
    margin:8px;
    font-family: "Orbitron", "sans-serif";

    
}
img{
    height: 50px;
    width: 50px;
    margin-bottom:15px;
}
.line {
    width: 40px; 
    height: 3px; 
    background-color: oklch(0.714 0.203 305.504); 
    border: none;
    align-items: center; 
    margin: 0 auto;

  }
.x {
    border: none;
    background: none;
    align-items: center;
    justify-content: center;
    transition: all 1s ease-in;

    
}
.x:hover{
    transform:scaleX(2);
    transition: 1s;
   

}
.sc{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
a {
    color: white;
    margin: 16px;
    text-decoration:none;
}
.flex{
    display:flex;
    flex-direction:column;
    float: right;
    margin-right: 320px;
}



